.side-panel {
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    max-width: 400px;
    z-index: 9000;
    opacity: 0;
    transform: translate3d(+100%,0,0);
    visibility:hidden;
    transition: opacity .2s,visibility 0ms linear .2s,transform .5s cubic-bezier(.23,1,.32,1);
  }
  
  .side-panel.open {
    transform: translateZ(0);
    opacity: 1;
    visibility: visible;
    transition: opacity .2s,visibility 0ms,transform .5s cubic-bezier(.23,1,.32,1)
  }
  
  .side-panel ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .side-panel li {
    margin: 0;
    font-size: 16px;
    background-color: #f7f7f7;
  }
  
  .side-panel a {
    text-decoration: none;
  }
  
  .side-panel a:hover,
  .side-panel a:active {
    color: #fa923f;
  }

  .panel-button {
    position: relative;
    text-align: left;
    width: 100%;
    display: block;
    padding: 14px 20px;
    background: transparent;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 500;
  }

  .panel-header {
    position: relative;
    text-align: left;
    width: 100%;
    display: flex;
    padding: 14px 20px;
    background: transparent;
    border-bottom: 1px solid #e5e5e5;
    height: 10vh;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    background-color: black;
    color: white;
    margin: 0;
  }

  .panel-volunteer {
    position: relative;
    text-align: left;
    width: 100%;
    display: block;
    padding: 14px 20px;
    background: transparent;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .arrow {
    width: 7%;
    margin-right: 5px;
  }
  


  @media (min-width: 500px) {
    .sider-panel {
      width: 30%;
    }
  }
  
  @media (min-width: 769px) {
      .side-panel {
          display: none;
      }
  }